
.wrapper1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin-top: 10px;
}
.container1 {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}

.container2 {
  height: 20px;
}
.left{
	/*background-color: red;*/
	width: 300px;
	height: 420px;
	position: absolute;
	left: 150px;
	top: 100px;
  justify-content: center;
  align-items: center;
}

.right{
	/*background-color: blue;*/
	width: 320px;
	height: 420px;
	position: absolute;
	left: 920px;
	top: 100px;
}
.button-option {
  background: #ffffff;
  height: 22vmin;
  width: 22vmin;
  border: none;
  border-radius: 8px;
  font-size: 12vmin;
  color: #d161ff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#start {
  font-size: 1.3em;
  padding: 1em;
  border-radius: 8px;
  background-color: #0a0027;
  color: #ffffff;
  border: none;
  position: relative;
  margin: 3em auto 1em auto;
  display: block;
}

#result{
  line-height: 10px;
}


th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


table {
  margin-left: auto; 
  margin-right: auto;
}

th, td {
  width: 80px;
  text-align: center;
}

.added{
  border: none;
  text-align: left;
  width: auto;
  visibility: hidden;
}

#stat_first{
  text-align: justify;
  text-align-last: justify;
}

.stat{
  justify-content: center;
  text-align: center;
}

.visible{
  visibility: visible;
}

#note th{
  border: none;
  outline: none;
}



@media (max-width: 1000px) {

  .left{
    /*background-color: red;*/
    width: auto;
    height: auto;
    position: absolute;
    left: 150px;
    top: 100px;
    justify-content: center;
    align-items: center;
  }

  .wrapper1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin-top: 190px;
  }

  .right{
    position: absolute;
    left: 150px;
    top: 1190px;
    justify-content: center;
    align-items: center;
  }
}